<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>
    <header>
        
        <div class="logo">
            <img src="/Assets/icons/logo.png" alt="Logo">
        </div>
        
        <nav id="nav-links">
            <li><a href="/Components/Home/index.html">Home</a></li>
            <li><a href="/Components/pagina-sobre/sobre.html">Sobre</a></li>
            <li><a href="/Components/pagina-contatos/contatos.html">Contatos</a></li>
            <li><a href="/Components/Historico-de-compra/Historico.html">Historico</a></li>
        </nav>

        <div class="barra-de-pesquisa">
            <input type="text" placeholder="Search...">
           <button>🔍</button>
        </div>

    </header>
</body>
</html>