<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/assets/icons/logo.png" type="image/x-icon">
    <title>Cadastrar-se</title>
</head>
<body>
    <div class="register-container">
        <div class="logo">
            <img src="/assets/icons/logo.png" alt="Logo Açaiteria" class="logo-img">
        </div>
        <h1>Crie sua Conta</h1>
        <p>Cadastre-se para aproveitar o melhor açaí da cidade!</p>
        
        <form id="registerForm">
            <label for="name">Nome Completo</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome completo" required>
            <span id="nameError" class="error-message"></span> <!-- Mensagem de erro do nome -->

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            <span id="emailError" class="error-message"></span> <!-- Mensagem de erro do email -->

            <label for="password">Senha</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" placeholder="Crie uma senha" required>
                <img src="/assets/icons/Exibir-senha.png" alt="Mostrar senha" class="toggle-password" onclick="togglePassword('password')">
            </div>
            <span id="passwordError" class="error-message"></span> <!-- Mensagem de erro da senha -->

            <label for="confirmPassword">Confirmar Senha</label>
            <div class="password-wrapper">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme sua senha" required>
                <img src="/assets/icons/Exibir-senha.png" alt="Mostrar senha" class="toggle-password" onclick="togglePassword('confirmPassword')">
            </div>
            <span id="confirmPasswordError" class="error-message"></span> <!-- Mensagem de erro de confirmação de senha -->

            <button type="submit">Cadastrar</button>

            <p class="login-text">Já tem uma conta? <a href="/Components/Tela de Login/login.html">Faça login</a></p>
            
        </form>
    </div>

    <script src="app.js"></script>
</body>
</html>
