<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/logo.png"> 
    <link rel="stylesheet" href="pagina-de-compra.css">
    <title>Página de Compra</title>
</head>
<body>

    <header id="header-placeholder"></header>

    <!-- Botão de carrinho suspenso -->
    <div class="cart-button" onclick="goToCheckout()">
        <img src="/assets/icons/carrinho.png" alt="Carrinho">
        <span id="cart-count" class="cart-count">0</span>
    </div>

    <main>
        <div id="back">
            <a id="button-back" onclick="window.history.go(-1)">
                <img src="/assets/icons/button-back.png" alt="Voltar à página anterior">
            </a>
            <div class="separetor1"></div>
        </div>

        <div class="container">
            <div class="produto">
                <img id="lanche-imagem" src="" alt="Imagem do Lanche"> 
            </div>

            <div id="informacoes">
                <h2 id="lanche-titulo">Título do Produto</h2> 
                <h2 id="lanche-preco">Preço</h2>

                <button id="botao-de-compra">Adicionar ao Carrinho</button>
            </div>
        </div>

        <div class="separetor"></div>

        <section id="detalhes">
            <div class="sobre">
                <h3>Detalhes do lanche</h3>
                <img src="/assets/icons/arrow-point-to-right.png" alt="">
                <p id="lanche-descricao" class="paragrafo"></p> 
            </div>
        </section>
    </main>

    <footer id="footer-placeholder"></footer>

    <script src="app.js"></script>
    <script src="/Components/botão-flutuante/botao.js"></script>

</body>
</html>
