<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Botão de carrinho suspenso -->
    <div class="cart-button" onclick="goToCheckout()">
        <img src="/assets/icons/carrinho.png" alt="Carrinho">
        <span id="cart-count" class="cart-count">0</span>
    </div>
    
    <script src="/Components/carrinho.js"></script>

</body>

</html>