<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/imagem_2024-06-13_115000299-removebg-preview.png"> 
    <link rel="stylesheet" href="pagina-de-categoria.css">
    <link rel="stylesheet" href="/Components/pagina-de-categoria/header.css">
    <title>PROJETO - FINAL</title>
</head>

<body>

    <header id="header-placeholder"></header>
    
    <div id="back">
        <a id="button-back" onclick="window.history.go(-1)">
            <img src="/assets/icons/button-back.png" alt="Voltar a página anterior">
        </a>
    </div>
    
    <div id="titulo">
        <div class="separetor"></div>
        <h2>Produtos</h2>
        <div class="separetor"></div>
    </div>

    <section class="products">
        <div id="produtos"></div> <!-- Contêiner para produtos dinâmicos -->
    </section>

    <footer id="footer-placeholder"></footer>

    <script src="app.js"></script>
    
</body>
</html>
