<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/logo.png"> 
    <link rel="stylesheet" href="pagina-de-categoria.css">
    <link rel="stylesheet" href="/Components/pagina-de-categoria/header.css">
    <title>PROJETO - FINAL</title>
</head>

<body>
    <!-- Botão de carrinho suspenso -->
    <div class="cart-button" onclick="goToCheckout()">
        <img src="/assets/icons/carrinho.png" alt="Carrinho">
        <span id="cart-count" class="cart-count">0</span>
    </div>

    <header id="header-placeholder"></header>
    
    <div id="back">
        <a id="button-back" onclick="window.history.go(-1)">
            <img src="/assets/icons/button-back.png" alt="Voltar a página anterior">
        </a>
    </div>
    
    <div id="titulo">
        <div class="separetor"></div>
        <h2>Produtos</h2>
        <div class="separetor"></div>
    </div>

    <section class="products">
        <div id="produtos"></div> <!-- Contêiner para produtos dinâmicos -->
    </section>

    <footer id="footer-placeholder"></footer>

    
    
    <script src="/Components/botão-flutuante/botao.js"></script>
    <script src="app.js"></script>
    
</body>
</html>
