<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x.icon" href="../Header/imagem/logo-img.png"> 
    <link rel="stylesheet" href="projeto_final.css">
    <title>Home</title>
</head>

<body>

    <header id="header-placeholder"></header>
        
    <div class="container-banner">

        <div class="wrapper-banner">

            <a href="/Components/pagina-de-compra/pagina-de-compra.html" class="banner">
                <img src="/Assets/images/banner 1.jpeg" alt="Banner 1">
            </a>

            <a href="#" class="banner">
                <img src="/Assets/images/banner 2.jpeg" alt="Banner 2">
            </a>

            <a href="#" class="banner">
                <img src="/Assets/images/banner 3.jpeg" alt="Banner 3">
            </a>

        </div>

    </div>
        
    <main class="menu">

        <section id="filtros-categorias">

            <div class="categories">

                <div class="category-item">
                    <a href="/Components/pagina-de-categoria/pagina-de-categoria.html"> <img src="images/Rectangle 89 (1).png" alt="Burger"></a>
                    <p>Hamburguers</p>
                </div>

                <div class="category-item">
                    <a href="/Components/pagina-de-categoria/pagina-de-categoria.html"><img src="images/tj_2.jpg" alt="Acai"></a>
                    <p>Açai</p>
                </div>
                
                <div class="category-item">
                    <img src="images/Ellipse 5.png" alt="Fries">
                    <p>Batata frita</p>
                </div>

                <div class="category-item">
                    <img src="images/Ellipse 7.png" alt="Cocktail">
                    <p>Bebidas</p>
                </div>

            </div>

        </section>
            
        <section class="products">
            
            <h2>Hamburgers</h2>
            
            <div class="separetor"></div>

            <div class="container-produto">

                <div class="product">
                    <img src="/assets/images/Rectangle 89 (1).png" alt="BigBurger">
                    <p>BigBurguer carne e queijo extra</p>
                    <p>R$23,99</p>
                    <a href="/Components/pagina-de-compra/pagina-de-compra.html">
                        <button>Conferir</button>
                    </a>
                </div>
                
                <div class="product">
                    <img src="/assets/images/Rectangle 89 (1).png" alt="BigBurger">
                    <p>BigBurguer carne e queijo extra</p>
                    <p>R$23,99</p>
                    <a href="/Components/pagina-de-compra/pagina-de-compra.html">
                        <button>Conferir</button>
                    </a>
                </div>
                
                <div class="product">
                    <img src="images/Rectangle 89 (1).png" alt="BigBurger">
                    <p>BigBurguer carne e queijo extra</p>
                    <p>R$23,99</p>
                    <a href="../pagina-de-compra/pagina-de-compra.html">
                        <button>Conferir</button>
                    </a>
                </div>
                
                <div class="product">
                    <img src="images/Rectangle 89 (1).png" alt="BigBurger">
                    <p>BigBurguer carne e queijo extra</p>
                    <p>R$23,99</p>
                    <a href="../pagina-de-compra/pagina-de-compra.html">
                        <button>Conferir</button>
                    </a>
                </div>

            </div>
                
        </section>

        <section class="products">

            <h2>Açaí</h2>
            <div class="separetor"></div>

            <div class="container-produto">



                <div class="product">
                    <img src="images/Rectangle 89 (2).png" alt="Acai">
                    <p>Açaí no copo + 3 opcionais</p>
                    <p>R$25,99</p>
                    <button>Conferir</button>
                </div>
                
                <div class="product">
                    <img src="images/Rectangle 89 (2).png" alt="Acai">
                    <p>Açaí no copo + 3 opcionais</p>
                    <p>R$25,99</p>
                    <button>Conferir</button>
                </div>
                
                <div class="product">
                    <img src="images/Rectangle 89 (2).png" alt="Acai">
                    <p>Açaí no copo + 3 opcionais</p>
                    <p>R$25,99</p>
                    <button>Conferir</button>
                </div>
                
                <div class="product">
                    <img src="images/Rectangle 89 (2).png" alt="Acai">
                    <p>Açaí no copo + 3 opcionais</p>
                    <p>R$25,99</p>
                    <button>Conferir</button>
                </div>
                
                </div>
            </div>
                
        </section>

    </main>
 
    <footer id="footer-placeholder"></footer>
    
    <script src="app.js"></script>
</body>
</html>