@import url(../Header/header.css);
@import url(../Footer/Footer.css);

body {
    background-color: #C8D7FF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper-banner {
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.banner {
    flex: 0 0 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

#filtros-categorias {
    margin: auto;
    max-width: 800px;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.category-item {
    cursor: pointer;
}

.category-item p {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.category-item img {
    width: 155px;
    height: 155px;
    border-radius: 999%;
    border: 2px solid #800080;
}

.products h2 {
    color: #800080;
    text-align: center;
    font-size: xx-large;
    margin: 30px 0px 0px 0px;
}

.separator {
    border: solid 2px rgb(117, 1, 250);
    max-width: 1000px;
    margin: 0px auto 20px auto;
}

.container-produto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
}

.product {
    background-color: #C8D7FF;
    border: 2px solid #800080;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px; /* Mantenha ou ajuste conforme necessário */
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product p {
    margin: 10px 0;
}

.product button {
    font-size: medium;
    background-color: #C8D7FF;
    color: #4B0082;
    border: solid 2px #4B0082;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #4B0082;
    color: #C8D7FF;
}

/* Media Query para ajustar o tamanho do produto em telas menores */
@media (max-width: 600px) {
    .product {
        width: 90%; /* Ajuste a largura para telas menores */
        max-width: 180px; /* Limite máximo da largura */
    }
}
