<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Header/imagem/logo-img.png" type="image/x-icon">
    <link rel="stylesheet" href="pagina-de-pagamento.css">
    <title>Concluir pedido</title>
</head>
<body>
    
    <header id="header-placeholder"></header>

    <div id="back">
        <a id="button-back" onclick= "window.history.go(-1)">
            <img src="/assets/icons/button-back.png" alt="Voltar a pagina anterior">
        </a>
    </div>
    <div class="container">
        <h1>Página de Pagamento</h1>
        
        <!-- Dados do Cliente -->
        <div class="form-section">
            <h2>Dados do Cliente</h2>
            <label for="name">Nome Completo:</label>
            <input class="coletar-dados" type="text" id="name" name="name" required>
            
            <label for="email">E-mail:</label>
            <input class="coletar-dados" type="email" id="email" name="email" required>
            
            <label for="cpf">CPF:</label>
            <input class="coletar-dados" type="text" id="cpf" name="cpf" required>

            <!-- Endereço do Cliente -->
            <h2>Endereço de Entrega</h2>
            <div class="address-group">
                <div>
                    <label for="cep">CEP:</label>
                    <input class="coletar-dados" type="text" id="cep" name="cep" required>
                </div>
                <div>
                    <label for="number">Número:</label>
                    <input class="coletar-dados" type="text" id="number" name="number" required>
                </div>
            </div>
            
            <label for="street">Rua:</label>
            <input class="coletar-dados" type="text" id="street" name="street" required>
            
            <div class="address-group">
                
                <div>
                    <label for="city">Cidade:</label>
                    <input class="coletar-dados" type="text" id="city" name="city" required>
                </div>
                <div>
                    <label for="complement">Complemento:</label>
                    <input class="coletar-dados" type="text" id="complement" name="complement">
                </div>
            </div>

            <label for="neighborhood">Bairro:</label>
            <input class="coletar-dados" type="text" id="neighborhood" name="neighborhood" required>

            <div class="address-group">
               
            </div>
        </div>
        
        <!-- Forma de Pagamento -->
        <div class="form-section">
            <h2>Forma de Pagamento</h2>
            <div class="payment-methods">
                <label><input class="coletar-dados" type="radio" name="payment-method" value="pix" required> PIX</label>
                <label><input class="coletar-dados" type="radio" name="payment-method" value="cartao" required> Cartão de Crédito ou Débito</label>
            </div>

            <!-- pix qrcode-->
            <div id="qr-code">
                <h3>Escaneie o QR Code para pagar com PIX</h3>
                <img id="qr-img" src="" alt="QR Code para pagamento PIX">
            </div>
            <!-- Cartão de Crédito/debito -->
            <div id="credit-card-info" style="display: none;">
                <label for="card-nome">Nome do títular:</label>
                <input class="coletar-dados" type="text" id="card-name" name="card-name">

                <label for="card-number">Número do Cartão:</label>
                <input class="coletar-dados" type="text" id="card-number" name="card-number">
                
                <label for="card-expiry">Validade (MM/AA):</label>
                <input class="coletar-dados" type="text" id="card-expiry" name="card-expiry">
                
                <label for="card-cvv">CVV:</label>
                <input class="coletar-dados" type="text" id="card-cvv" name="card-cvv">
            </div>
        </div>
        
        <!-- Total do Pedido -->
        <div class="total">
            Total do Pedido: R$ 23,00
        </div>
        
        <!-- Botão de Finalizar Pedido -->
        <a href="../pagina-de-obrigado/pagina-de-obrigado.html">
            <button type="submit">Finalizar Pedido</button>
        </a>
    </div>

    <footer id="footer-placeholder"></footer>

    <script src="app.js"></script>
</body>
</html>
