<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Footer.css">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <footer class="footer-container">
        <div class="footer-logo">
            <img src= "/Assets/icons/logo.png" alt="Logo da empresa" class="logo-img">
            <p class="company-desc">Colherada ou mordida: sabor único a cada escolha.</p>
        </div>

        <nav class="footer-nav">
            <ul class="nav-list">
                <li><a href="../Home/index.html">Home</a></li>
                <li><a href="../pagina-sobre/sobre.html">Sobre</a></li>
                <li><a href="../pagina-contatos/contatos.html">Contatos</a></li>
                <li><a href="../Historico-de-compra/Historico.html">Historico</a></li>
            </ul>
        </nav>

        <div class="footer-info">
            <p>Endereço: Rua Exemplo, 123</p>
            <p>Telefone: (11) 1234-5678</p>
            <p>Email: <a href="mailto:contato@empresa.com">contato@empresa.com</a></p>
        </div>

        <div class="footer-subscribe">
            <form action="/cadastrar-email" method="post">
                <label for="email" class="subscribe-label">Receba nossas ofertas antes de todo mundo!</label>
                <input type="email" id="email" name="email" placeholder="Seu email" required>
                <button type="submit">Inscrever-se</button>
            </form>
        </div>

        <div class="footer-social">
            <p>Siga-nos nas redes sociais:</p>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/+5583988688864" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </footer>
</body>
</html>
