<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/logo.png"> 
    <link rel="stylesheet" href="pagina-obrigado.css">
    <title>Obrigado!</title>
</head>
<body>
    <div class="obrigado-container">
        <h1>Obrigado pelo seu pedido!</h1>
        <p>Sua compra foi realizada com sucesso. Em breve, você receberá um e-mail com os detalhes.</p>

        <div class="pedido-detalhes"></div>

        <a href="../Home/index.html">Voltar para a Página Inicial</a>
        <a href="../Historico-de-compra/Historico.html">Ver histórico de pedidos</a>
    </div>
    <script src="app.js"></script>
</body>
</html>
