* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #C8D7FF;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.obrigado-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 20px;
}

h1 {
    color: #4B0082;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.pedido-detalhes {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #4B0082; /* Borda para destacar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.pedido-detalhes h2 {
    margin-bottom: 10px;
    color: #4B0082; /* Cor do título */
    font-size: 1.8rem; /* Tamanho maior para o título */
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

.pedido-detalhes p {
    margin: 5px 0;
    font-size: 1.1rem; /* Tamanho um pouco maior */
    color: #555;
}

.pedido-detalhes p strong {
    color: #4B0082; /* Destacar valores */
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4B0082;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 5px 0; /* Espaçamento entre os links */
    transition: background-color 0.3s ease; /* Transição suave na mudança de cor */
}

a:hover {
    background-color: #800080; /* Cor mais escura ao passar o mouse */
}

