@import url(../Header/header.css);
@import url(../Footer/Footer.css);

body {
    font-family: 'Arial', sans-serif;
    background-color: #C8D7FF;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#button-back {
    height: 60px;
    text-align: left;
    padding-left: 20px;
}

#button-back img {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #4B0082;
    font-size: 2.5em; /* Aumentado para maior destaque */
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-section label {
    margin-top: 10px;
    font-weight: bold;
}

.filter-section select {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #800080;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    margin-left: 10px; /* Adicionando espaçamento entre o label e o select */
}

.order-list {
    margin-top: 20px;
}

.order {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.order:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order h2 {
    font-size: 1.5em;
    color: #4B0082;
}

.order p {
    margin: 10px 0;
}

.order a {
    text-decoration: none;
    color: #4B0082;
    font-weight: bold;
}

.order .lanche {
    background-color: #f9f9f9; /* Fundo diferente para itens de lanche */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; /* Espaçamento acima do item de lanche */
}

.status-pendente {
    color: red;
}

.status-entregue {
    color: green;
}

.load-more {
    text-align: center;
    margin: 30px 0;
}

.load-more button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4B0082;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more button:hover {
    background-color: #800080;
}

#back {
    padding: 10px;
}

/* Novos estilos para exibir os lanches associados ao pedido */
.lanche-titulo {
    font-weight: bold;
    color: #333;
}

.lanche-info {
    color: #666; /* Cor mais clara para as informações do lanche */
}
