@import url(../Header/header.css);
@import url(../Footer/Footer.css);

body {
    font-family: Arial, sans-serif;
    background-color: #C8D7FF;
    color: #333;
    margin: 0;
    padding: 0;
}

#button-back{
    height: 60px;
    text-align: left;
    padding-left: 20px;
    
    img{
        cursor: pointer;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4B0082;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact-info div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.contact-info div h3 {
    margin-bottom: 15px;
    color: #4B0082;
}

#form-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4B0082;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #800080;
}