@import url(../Footer/Footer.css);
@import url(../Header/header.css);

body {
    font-family: Arial, sans-serif;
    background-color: #C8D7FF;
    color: #333;
    margin: 0;
    padding: 0;
}

#button-back{
    position: fixed;
    height: 60px;
    text-align: left;
    padding-left: 20px;
    
    img{
        cursor: pointer;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 60px; /* Adicionado espaço abaixo do título */
    text-align: center;
    color: #4B0082;
}

.sobre-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.sobre-section:hover{
    transform: translateY(-10px); /* Leve elevação ao passar o mouse */
}

p {
    line-height: 1.6;
}

.highlight {
    color: #4B0082;
    font-weight: bold;
}